* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

:root {
  --color-fondo: #1F2434;
  --color-fondo-azuloscuro: linear-gradient(to top, #0d2143, #112346, #0e2042, #092042, #0a2143, #0b2042, #0b2042, #0a2244, #0b1f40, #071937, #091633, #0e2447);
  --color-fondo-verde: linear-gradient(to top, #b2af29, #b2af29, #b2af29, #b2af29, #b2af29, #b2af29, #b2af29, #b2af29, #b2af29, #94942a, #4a5037, #1c2641);
  --color-fondo-azul: linear-gradient(to top, #1f2434, #1e2a49, #1b2f5f, #153476, #0f398c, #0f398c, #0f398c, #0f398c, #153476, #1b2f5f, #1e2a49, #1f2434);
  --color-texto-blanco: #fefefe;
  --color-texto-gris: #c2c3c5;
  --color-texto-descripcion: #f2f2f2;
  --color-btn-rojo: #d71e25;
}

body {
  background-color: var(--color-fondo);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  height: 100%;
  background-color: var(--color-fondo);
}

.container-header {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 30px;
}

.container-header .img-header {
  background-image: url(../assets/img/descriptionGame/header/horizon.jpg);
  width: 100%;
  height: 513px;
  z-index: 0;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110%;
  -webkit-animation: movimiento 13s infinite linear alternate;
          animation: movimiento 13s infinite linear alternate;
  opacity: 0.7;
}

@-webkit-keyframes movimiento {
  from {
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}

@keyframes movimiento {
  from {
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}

.container-header .content-header {
  position: absolute;
  top: 26px;
  left: 45px;
  color: var(--color-texto-blanco);
  z-index: 1;
}

.container-header .content-header img {
  width: 80px;
}

.container-header .content-header h5 {
  font-weight: bold;
}

.container-header .content-header .ps5-ps4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.container-header .content-header .ps5-ps4 h6 {
  border: 1px solid var(--color-texto-blanco);
  padding: 2px 12px;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 30px;
}

.container-header .content-header .add-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  margin: 17px 0;
}

.container-header .content-header .add-cart h6 {
  background: #df3d19;
  width: 225px;
  height: 37px;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 13px;
  cursor: pointer;
}

.container-header .content-header .add-cart h6:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.container-header .content-header .add-cart img {
  width: 40px;
  height: 40px;
  background-color: white;
  opacity: 0.4;
  border-radius: 50px;
  padding: 7px;
  cursor: pointer;
}

.container-header .content-header .add-cart img:hover {
  background-color: white;
  opacity: 0.9;
}

.container-header .content-header .add-cart img:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.container-header .content-header .player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 76px;
  margin-top: 30px;
}

.container-header .content-header .player img {
  width: 24px;
  height: 24px;
  margin-right: -65px;
}

.container-header .content-header .apto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 755px;
  bottom: 9px;
}

.container-header .content-header .apto img {
  width: 40px;
}

.container-header .content-header .apto div {
  margin-left: 21px;
}

.container-header .content-header .apto div .border-top {
  margin-top: 20px;
}
/*# sourceMappingURL=description.css.map */