* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

:root {
  --color-fondo: #1F2434;
  --color-fondo-azuloscuro: linear-gradient(to top, #0d2143, #112346, #0e2042, #092042, #0a2143, #0b2042, #0b2042, #0a2244, #0b1f40, #071937, #091633, #0e2447);
  --color-fondo-verde: linear-gradient(to top, #b2af29, #b2af29, #b2af29, #b2af29, #b2af29, #b2af29, #b2af29, #b2af29, #b2af29, #94942a, #4a5037, #1c2641);
  --color-fondo-azul: linear-gradient(to top, #1f2434, #1e2a49, #1b2f5f, #153476, #0f398c, #0f398c, #0f398c, #0f398c, #153476, #1b2f5f, #1e2a49, #1f2434);
  --color-texto-blanco: #fefefe;
  --color-texto-gris: #c2c3c5;
  --color-texto-descripcion: #f2f2f2;
  --color-btn-rojo: #d71e25;
}

body {
  background-color: var(--color-fondo);
}

a {
  text-decoration: none;
}

.header {
  background-color: var(--color-fondo);
}

.header .barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 6rem;
  padding-top: 20px;
  padding-bottom: 5px;
}

.header .barra .titulo {
  color: var(--color-texto-blanco);
  font-size: 25px;
  width: 4%;
}

.header .barra .barra2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu ul li {
  background-color: var(--color-fondo);
}

.lista {
  margin-top: 5rem;
  border-top: 1.5px solid var(--color-texto-gris);
  border-left: 1.5px solid var(--color-texto-gris);
  border-bottom: 1.5px solid var(--color-texto-gris);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 70px;
  height: 27px;
  padding: 5px;
}

#menu ul a {
  display: block;
  color: #fff;
  padding-bottom: 10px;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  padding: 1px 10px;
}

#menu ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

#menu ul li:hover {
  background: var(--color-fondo);
}

#menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #eee;
  padding: 0;
}

#menu ul ul li {
  float: none;
  width: 150px;
}

#menu ul ul a {
  line-height: 120%;
  padding: 10px 15px;
}

#menu ul li:hover ul {
  display: block;
}

.buscador {
  background-color: var(--color-fondo);
  color: var(--color-texto-blanco);
  width: 250px;
  padding-left: 5px;
  height: 27px;
  border: 1px solid var(--color-texto-gris);
}

.boton {
  background-color: red;
  color: var(--color-texto-gris);
  border-color: var(--color-btn-rojo);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100px;
  height: 28px;
}

.datos {
  color: var(--color-texto-gris);
  margin-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3.2rem;
  font-size: 14px;
}

.datos .perfil {
  width: 40px;
  height: 40px;
  border-radius: 18px;
  position: relative;
  bottom: 5px;
}

.catalogo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3rem;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #706e6e;
  border-top: 1px solid #706e6e;
  margin-bottom: 5px;
}

.catalogo-header #download {
  border-bottom: 2px solid red;
  margin-bottom: -6px;
}

.catalogo-header .items-catalogo {
  color: var(--color-texto-blanco);
  text-decoration: none;
  font-size: 13px;
}

.catalogo-header .items-catalogo:hover {
  color: #d71e25;
}

.fondo-header {
  position: relative;
  height: 600px;
  z-index: 0;
}

.fondo-header img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.fondo-header .titulo-fondo {
  padding-top: 5rem;
  padding-left: 6rem;
  position: absolute;
  bottom: 270px;
  color: white;
  letter-spacing: 1px;
  line-height: 24px;
  font-size: 13px;
  font-weight: bold;
}

.fondo-header .botones-fondo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  position: absolute;
  bottom: 190px;
  left: 40px;
}

.fondo-header .botones-fondo .button-fondo1 {
  background-color: var(--color-btn-rojo);
  margin-left: 3rem;
  width: 8rem;
  height: 3rem;
  border-radius: 10px;
  color: white;
  border: none;
}

.fondo-header .botones-fondo .button-fondo1:hover {
  border: 1px solid var(--color-texto-blanco);
}

.fondo-header .botones-fondo .button-fondo2 {
  background-color: var(--color-fondo);
  width: 8rem;
  height: 3rem;
  border-radius: 10px;
  border: none;
}

.fondo-header .botones-fondo .button-fondo2:hover {
  border: 1px solid var(--color-btn-rojo);
}

.fondo-header .botones-fondo a {
  text-decoration: none;
  color: white;
}

.fondo-header .botones-fondo .favoritos {
  margin-top: 1.6rem;
  margin-left: -0.5rem;
  color: white;
  font-weight: 900;
}

.fondo-header .botones-fondo .icono-corazon {
  margin-top: 0.5rem;
}

.container_topgame {
  background: transparent;
  width: 100%;
  height: auto;
  top: -170px;
  position: relative;
}

.container_topgame .name_game {
  font-size: 19px;
  color: white;
  font-weight: 600;
}

.container_topgame p {
  color: white;
  font-size: 12px;
}

.container_topgame a {
  color: var(--color-texto-blanco);
  padding: 0px 5px 0px 5px;
}

.container_topgame span {
  font-weight: 700;
  color: var(--color-texto-blanco);
}

.container_topgame .div_image {
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.container_topgame .div_image .image {
  width: 100%;
  height: 100%;
}

.container_topgame .tach {
  text-decoration: line-through;
  color: #676768;
  font-weight: 700;
}

.container_topgame .btnn {
  width: 50%;
  /* background: #f44336; */
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 5px 5px 5px;
  background-color: var(--color-btn-rojo);
  color: white;
  border: none;
  border-radius: 5px;
  position: relative;
}

.container_topgame .card_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.container_topgame .card_container .cards {
  border: none;
  width: 100%;
  height: 350px;
  background: transparent;
  margin: auto;
  overflow: hidden;
  border-radius: 10px 10px 10px 10px;
  -webkit-transform: scale(0.83);
          transform: scale(0.83);
  -webkit-transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s, -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  z-index: 1;
  border: solid white 1px;
}

.container_topgame .card_container .cards:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 1.1px solid var(--color-btn-rojo);
  border-radius: 14px;
}

.container_topgame .contents {
  top: 170px;
  padding: 0px 6px 0px 6px;
  position: relative;
  width: 100%;
}

.container_topgame .cards .contenedor .image {
  width: 100%;
  background-size: 100%;
}

.container_topgame .cards .contenedor {
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.container_topgame .cards .contenedor .btnn {
  background: var(--color-btn-rojo);
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  border-radius: 73px;
  float: left;
  width: 68%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container_topgame .cards .contenedor .btnn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  border: 1.1px solid var(--color-btn-rojo);
  border-radius: 14px;
}

.container_topgame .cards .contenedor .btnn i {
  font-size: 27px;
  padding: 7px;
  color: #fdfdfd;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.container_topgame .cards .contenedor .btnn:hover i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.container_topgame .cards .inside {
  z-index: 9;
  background-size: cover;
  width: 123px;
  height: 123px;
  position: absolute;
  top: -73px;
  right: -73px;
  border-radius: 0px 0px 200px 200px;
  -webkit-transition: all 0.5s, border-radius 2s, top 1.2s;
  transition: all 0.5s, border-radius 2s, top 1.2s;
  overflow: hidden;
}

.container_topgame .cards .inside .icon {
  position: absolute;
  right: 85px;
  top: 85px;
  color: white;
}

.container_topgame .cards .inside:hover {
  width: 100%;
  right: 0;
  top: 0;
  border-radius: 0;
  height: 100%;
}

.container_topgame .cards .inside .icon:hover {
  opacity: 0;
  right: 15px;
  top: 15px;
}

.container_topgame .cards .contenedor {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container_topgame .inside:hover {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.container_topgame .cards .inside .contenedor {
  padding: 5%;
  opacity: 0;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.8s;
  transition: opacity 0.2s, -webkit-transform 0.8s;
  transition: opacity 0.2s, transform 0.8s;
  transition: opacity 0.2s, transform 0.8s, -webkit-transform 0.8s;
}

.container_topgame .cards .inside .contenedor h1,
.container_topgame .cards .inside .contenedor p {
  color: white;
}

/*sec descripcion*/
.sec_descripcion {
  width: 100%;
  height: 100%;
  background-color: #282a30;
}

.sec_descripcion p {
  text-align: left;
}

.sec_descripcion .conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 62%, 0 97%);
          clip-path: polygon(0 0, 100% 0, 100% 62%, 0 97%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1c2642), color-stop(#4f325a), color-stop(#863a5e), color-stop(#b14d4f), color-stop(#ac4c50), color-stop(#ccd70e), color-stop(#cdd715), color-stop(#ccd70b), color-stop(#cdd80a), color-stop(#cbd618), color-stop(#ced908), to(#cbd618));
  background-image: linear-gradient(to bottom, #1c2642, #4f325a, #863a5e, #b14d4f, #ac4c50, #ccd70e, #cdd715, #ccd70b, #cdd80a, #cbd618, #ced908, #cbd618);
}

.sec_descripcion .text-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--color-texto-blanco);
}

.sec_descripcion .text-header .text {
  padding: 40px;
  text-align: center;
}

.sec_descripcion .text-header .titulo {
  font-size: 31px;
  font-weight: 600;
  text-align: left;
}

.sec_descripcion .fondo {
  background-size: cover;
}

.sec_descripcion .image_cod {
  padding-bottom: 60px;
}

.sec_descripcion .btn {
  width: 50%;
  /* background: #f44336; */
  height: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--color-btn-rojo);
  color: white;
  border: none;
  border-radius: 5px;
  position: relative;
  margin-left: 9px;
}

.sec_descripcion .tach {
  text-decoration: line-through;
  color: #676768;
  font-weight: 700;
}

.sec_descripcion .div_cod {
  margin: auto;
}

.sec_descripcion .image_coin {
  border-radius: 140px;
}

.container {
  max-width: 1284px;
  height: 100%;
  background-color: var(--color-fondo);
}

.container__store {
  width: 100%;
  height: 447px;
  background-image: var(--color-fondo-azul);
  color: var(--color-texto-blanco);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% auto;
      grid-template-columns: 45% auto;
  position: relative;
  z-index: 1;
}

.container__store .background-store {
  position: absolute;
  z-index: -1;
  height: inherit;
  width: 100%;
  opacity: 0.1;
}

.container__store .title {
  letter-spacing: 1px;
}

.container__store .grid1 {
  margin-top: 20px;
  margin-left: 76px;
  width: 63%;
}

.container__store .grid1 .format {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin-left: 3px;
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

.container__store .grid1 .format .platform1 {
  height: 75px;
}

.container__store .grid1 .format .platform1:hover {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  border-bottom: 2px solid var(--color-btn-rojo);
  cursor: pointer;
}

.container__store .grid1 .format .platform2 {
  height: 75px;
  padding-top: 15px;
}

.container__store .grid1 .format .platform2:hover {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  border-bottom: 2px solid var(--color-btn-rojo);
  cursor: pointer;
}

.container__store .grid1 .format .platform3 {
  height: 75px;
  padding-top: 15px;
}

.container__store .grid1 .format .platform3:hover {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  border-bottom: 2px solid var(--color-btn-rojo);
  cursor: pointer;
}

.container__store .grid1 .division {
  border: 1px solid #3b63ba;
  position: relative;
  top: -2px;
  width: 77.2%;
  z-index: 0;
  margin-left: 4px;
}

.container__store .grid1 .subtitle {
  margin: 26px 0 24px 0;
  font-weight: bold;
  letter-spacing: 0.6px;
}

.container__store .grid1 .text {
  font-size: 11.5px;
  letter-spacing: 0.5px;
  line-height: 22px;
}

.container__store .grid1 .boton-store {
  background: transparent;
  position: absolute;
  bottom: 60px;
  margin-top: 23px;
  border: 1px solid var(--color-texto-gris);
  width: 100px;
  height: 36px;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
}

.container__store .grid1 .boton-store:hover {
  -webkit-transition: 1s;
  transition: 1s;
  border: 1px solid var(--color-btn-rojo);
}

.container__store .grid1 .boton-store a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--color-texto-blanco);
  font-weight: 700;
  letter-spacing: 0.7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__store .grid1 .boton-store a:hover {
  color: var(--color-btn-rojo);
}

.container__store .grid2 {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__store .grid2 .flex-card {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
  margin-left: 20px;
  padding-left: 13px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: none;
}

.container__store .grid2 .flex-card .card-store img {
  width: 160;
  height: 220px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.container__store .grid2 .flex-card .card-store img:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  opacity: 0.7;
  border: 1.1px solid var(--color-btn-rojo);
  border-radius: 14px;
}

.container__store .grid2 .flex-icon {
  position: absolute;
  right: 40px;
  bottom: 40px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  cursor: pointer;
}

.container__store .grid2 .flex-icon img {
  width: auto;
  height: auto;
}

.container__store .grid2 .flex-icon img:active {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

/*footer*/
.footer {
  margin-bottom: 1rem;
  background-color: var(--color-fondo);
  border-top: 2px solid red;
}

.footer-titulo {
  text-align: center;
  color: white;
  margin-top: 2rem;
  font-weight: bold;
}

.box-footer {
  text-align: center;
}

@media (min-width: 768px) {
  .box-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 7.1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid var(--color-texto-gris);
  }
}

.boxes-footer {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .boxes-footer {
    background-color: transparent;
    height: 20rem;
    width: 15rem;
    margin-top: 2.50rem;
  }
}

.flexer-footer {
  display: -ms-grid;
  display: grid;
  text-align: initial;
}

.list-footer {
  color: var(--color-texto-gris);
}

.titulo-footer {
  font-weight: bold;
  color: var(--color-texto-blanco);
  font-size: 25px;
  margin-bottom: 10px;
  text-align: initial;
}

.texto-footer {
  color: var(--color-texto-gris);
  text-align: initial;
}

.enlaces-footer {
  color: var(--color-texto-gris);
  text-decoration: none;
  margin-bottom: 5px;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
}

.footer-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 45rem;
}

.copyright-footer {
  color: white;
}

.tarjetas-footer {
  width: 2.5rem;
  height: 2.5rem;
}
/*# sourceMappingURL=styles.css.map */