* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; //par que tome width 100%
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-fondo: #1F2434;
    --color-fondo-azul: linear-gradient(to top, #1f2434, #1e2a49, #1b2f5f, #153476, #0f398c, #0f398c, #0f398c, #0f398c, #153476, #1b2f5f, #1e2a49, #1f2434);
    --color-texto-blanco: #fefefe;
    --color-texto-gris: #c2c3c5;
    --color-texto-descripcion: #f2f2f2;
    --color-btn-rojo: #d71e25;
}

// SECTION HEADER LAUTI 
body {
    background-color: var(--color-fondo);
}

.header {
    background-color: var(--color-fondo);
    .barra {
        display: flex;
        justify-content: space-evenly;
        gap: 6rem;
        padding-top: 20px;
        padding-bottom: 5px;
        .titulo {
            color: var(--color-texto-blanco);
            font-size: 25px;
            width: 4%;
        }
        .barra2 {
            display: flex;
            justify-content: center;
            margin-top: 5px;
        }
    }
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li {
    background-color: var(--color-fondo);
}

.lista {
    margin-top: 5rem;
    border-top: 1.5px solid var(--color-texto-gris);
    border-left: 1.5px solid var(--color-texto-gris);
    border-bottom: 1.5px solid var(--color-texto-gris);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 70px;
    height: 27px;
    padding: 5px;
}

#menu ul a {
    display: block;
    color: #fff;
    padding-bottom: 10px;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    padding: 1px 10px;
}

#menu ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

#menu ul li:hover {
    background: var(--color-fondo);
}

#menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #eee;
    padding: 0;
}

#menu ul ul li {
    float: none;
    width: 150px;
}

#menu ul ul a {
    line-height: 120%;
    padding: 10px 15px;
}

#menu ul li:hover ul {
    display: block;
}

.buscador {
    background-color: var(--color-fondo);
    color: var(--color-texto-blanco);
    width: 250px;
    padding-left: 5px;
    height: 27px;
    border: 1px solid var(--color-texto-gris);
}

.boton {
    background-color: red;
    color: var(--color-texto-gris);
    border-color: var(--color-btn-rojo);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 100px;
    height: 28px;
}

.datos {
    color: var(--color-texto-gris);
    margin-top: 6px;
    display: flex;
    justify-content: center;
    gap: 3.2rem;
    font-size: 14px;
    .perfil {
        width: 40px;
        height: 40px;
        border-radius: 18px;
        position: absolute;
        right: 298px;
        top: 20px;
    }
}

.catalogo-header {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(112, 110, 110);
    border-top: 1px solid rgb(112, 110, 110);
    margin-bottom: 5px;
    #download {
        border-bottom: 2px solid red;
        margin-bottom: -6px;
    }
    .items-catalogo {
        color: var(--color-texto-blanco);
        text-decoration: none;
        font-size: 13px;
        &:hover {
            color: #d71e25;
        }
    }
}

.fondo-header {
    position: relative;
    height: 600px;
    z-index: 0;
    img {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 600px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0;
        // display: none;
        transition: opacity 1s ease-in-out;
    }
    .titulo-fondo {
        padding-top: 5rem;
        padding-left: 6rem;
        position: absolute;
        // z-index: 6;
        bottom: 270px;
        color: white;
        letter-spacing: 1px;
        line-height: 24px;
        font-size: 13px;
        font-weight: bold;
    }
    .botones-fondo {
        display: flex;
        justify-content: initial;
        align-items: center;
        gap: 1rem;
        position: absolute;
        bottom: 190px;
        left: 40px;
        .button-fondo1 {
            background-color: var(--color-btn-rojo);
            margin-left: 3rem;
            width: 8rem;
            height: 3rem;
            border-radius: 10px;
            color: white;
            border: none;
            &:hover {
                border: 1px solid var(--color-texto-blanco);
            }
        }
        .button-fondo2 {
            background-color: var(--color-fondo);
            width: 8rem;
            height: 3rem;
            border-radius: 10px;
            border: none;
            &:hover {
                border: 1px solid var(--color-btn-rojo);
            }
        }
        a {
            text-decoration: none;
            color: white;
        }
        .favoritos {
            margin-top: 1.6rem;
            margin-left: -0.5rem;
            color: white;
            font-weight: 900;
        }
        .icono-corazon {
            margin-top: 0.5rem;
        }
    }
}

// SEWCTION STORE -- ZALO
.container {
    max-width: 1284px;
    height: 100%;
    background-color: var(--color-fondo);
}

.container__store {
    width: 100%;
    height: 447px;
    background-image: var(--color-fondo-azul);
    color: var(--color-texto-blanco);
    display: grid;
    grid-template-columns: 45% auto;
    position: relative;
    z-index: 1;
    .background-store {
        position: absolute;
        z-index: -1;
        height: inherit;
        width: 100%;
        opacity: 0.1;
    }
    .title {
        letter-spacing: 1px;
    }
    .grid1 {
        margin-top: 20px;
        margin-left: 76px;
        width: 63%;
        .format {
            display: flex;
            gap: 40px;
            margin-left: 3px;
            margin-top: 20px;
            position: relative;
            z-index: 1;
            .platform1 {
                height: 75px;
                &:hover {
                    transition: .2s ease-in-out;
                    border-bottom: 2px solid var(--color-btn-rojo);
                    cursor: pointer;
                }
            }
            .platform2 {
                height: 75px;
                padding-top: 15px;
                &:hover {
                    transition: .2s ease-in-out;
                    border-bottom: 2px solid var(--color-btn-rojo);
                    cursor: pointer;
                }
            }
            .platform3 {
                height: 75px;
                padding-top: 15px;
                &:hover {
                    transition: .2s ease-in-out;
                    border-bottom: 2px solid var(--color-btn-rojo);
                    cursor: pointer;
                }
            }
        }
        .division {
            border: 1px solid#3b63ba;
            position: relative;
            top: -2px;
            width: 77.2%;
            z-index: 0;
            margin-left: 4px;
        }
        .subtitle {
            margin: 26px 0 24px 0;
            font-weight: bold;
            letter-spacing: 0.6px;
        }
        .text {
            font-size: 11.5px;
            letter-spacing: 0.5px;
            line-height: 22px;
        }
        .boton-store {
            background: transparent;
            position: absolute;
            bottom: 60px;
            margin-top: 23px;
            border: 1px solid var(--color-texto-gris);
            width: 100px;
            height: 36px;
            border-radius: 9px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 11px;
            &:hover {
                transition: 1s;
                border: 1px solid var(--color-btn-rojo);
            }
            a {
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: var(--color-texto-blanco);
                font-weight: 700;
                letter-spacing: 0.7px;
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover {
                    color: var(--color-btn-rojo);
                }
            }
        }
    }
    .grid2 {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .flex-card {
            height: 300px;
            display: flex;
            align-items: center;
            gap: 17px;
            margin-left: 20px;
            padding-left: 13px;
            scroll-behavior: smooth;
            overflow-x: hidden;
            scrollbar-width: none;
            .card-store {
                img {
                    width: 160;
                    height: 220px;
                    transition: all 300ms;
                    &:hover {
                        transform: scale(1.15);
                        opacity: 0.7;
                        border: 1.1px solid var(--color-btn-rojo);
                        border-radius: 14px;
                    }
                }
            }
        }
        .flex-icon {
            position: absolute;
            right: 40px;
            bottom: 40px;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            cursor: pointer;
            img {
                width: auto;
                height: auto;
                &:active {
                    transition: all 0.2s ease-in-out;
                    transform: translateY(-3px);
                }
            }
        }
    }
}

@import "media";