* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: 'Roboto', sans-serif;
}

:root {
  --color-fondo: #1F2434;
  --color-fondo-azul: linear-gradient(to top, #1f2434, #1e2a49, #1b2f5f, #153476, #0f398c, #0f398c, #0f398c, #0f398c, #153476, #1b2f5f, #1e2a49, #1f2434);
  --color-texto-blanco: #fefefe;
  --color-texto-gris: #c2c3c5;
  --color-texto-descripcion: #f2f2f2;
  --color-btn-rojo: #d71e25;
}

body:-webkit-scrollbar {
  width: 0;
  height: 0;
}

body {
  background-color: var(--color-fondo);
}

.header {
  background-color: var(--color-fondo);
}

.barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 6rem;
  padding-top: 20px;
  padding-bottom: 5px;
}

.titulo {
  color: var(--color-texto-blanco);
  font-size: 25px;
  width: 4%;
}

.barra2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5px;
}

#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu ul li {
  background-color: var(--color-fondo);
}

.lista {
  margin-top: 5rem;
  border-top: 1.5px solid var(--color-texto-gris);
  border-left: 1.5px solid var(--color-texto-gris);
  border-bottom: 1.5px solid var(--color-texto-gris);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 70px;
  height: 27px;
  padding: 5px;
}

#menu ul a {
  display: block;
  color: #fff;
  padding-bottom: 10px;
  text-decoration: none;
  font-weight: 400;
  font-size: 15px;
  padding: 1px 10px;
}

#menu ul li {
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
}

#menu ul li:hover {
  background: var(--color-fondo);
}

#menu ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #eee;
  padding: 0;
}

#menu ul ul li {
  float: none;
  width: 150px;
}

#menu ul ul a {
  line-height: 120%;
  padding: 10px 15px;
}

#menu ul li:hover > ul {
  display: block;
}

.buscador {
  background-color: var(--color-fondo);
  color: var(--color-texto-blanco);
  width: 250px;
  padding-left: 5px;
  height: 27px;
  border: 1px solid var(--color-texto-gris);
}

.boton {
  background-color: red;
  color: var(--color-texto-gris);
  border-color: var(--color-btn-rojo);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100px;
  height: 28px;
}

.datos {
  color: var(--color-texto-gris);
  margin-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.2rem;
  font-size: 14px;
}

.perfil {
  width: 30px;
  height: 30px;
  border-radius: 18px;
}

.catalogo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #706e6e;
  border-top: 1px solid #706e6e;
  margin-bottom: 5px;
}

.items-catalogo {
  color: var(--color-texto-blanco);
  text-decoration: none;
  font-size: 13px;
}

.items-catalogo:hover {
  color: #d71e25;
}

#gg {
  border-bottom: 2px solid red;
  margin-bottom: -6px;
}

.fondo-header {
  background-image: url(../img/Watch-Dogs-2-generacion-xbox.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: cover;
  height: 500px;
}

.titulo-fondo {
  color: #24252b;
  padding-top: 5rem;
  padding-left: 3rem;
}

.button-fondo1 {
  background-color: var(--color-btn-rojo);
  margin-left: 3rem;
  width: 8rem;
  height: 3rem;
  border-radius: 10px;
  color: white;
  border: none;
}

.button-fondo2 {
  background-color: var(--color-fondo);
  width: 8rem;
  height: 3rem;
  border-radius: 10px;
  color: white;
  border: none;
}

.botones-fondo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.botones-enlaces {
  color: white;
  text-decoration: none;
}

.botones-enlaces:hover {
  color: white;
}

.favoritos {
  margin-top: 0.6rem;
  margin-left: -0.5rem;
}

.icono-corazon {
  margin-top: 0.5rem;
}

.container {
  max-width: 1284px;
  height: 100%;
  background-color: var(--color-fondo);
}

.container__store {
  width: 100%;
  height: 447px;
  background-image: var(--color-fondo-azul);
  color: var(--color-texto-blanco);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 45% auto;
      grid-template-columns: 45% auto;
  position: relative;
  z-index: 1;
}

.container__store .background-store {
  position: absolute;
  z-index: -1;
  height: inherit;
  width: 100%;
  opacity: 0.1;
}

.container__store .title {
  letter-spacing: 1px;
}

.container__store .grid1 {
  margin-top: 20px;
  margin-left: 76px;
  width: 63%;
}

.container__store .grid1 .format {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  margin-left: 3px;
  margin-top: 20px;
  position: relative;
  z-index: 1;
}

.container__store .grid1 .format .platform1 {
  height: 75px;
}

.container__store .grid1 .format .platform1:hover {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  border-bottom: 2px solid var(--color-btn-rojo);
  cursor: pointer;
}

.container__store .grid1 .format .platform2 {
  height: 75px;
  padding-top: 15px;
}

.container__store .grid1 .format .platform2:hover {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  border-bottom: 2px solid var(--color-btn-rojo);
  cursor: pointer;
}

.container__store .grid1 .format .platform3 {
  height: 75px;
  padding-top: 15px;
}

.container__store .grid1 .format .platform3:hover {
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  border-bottom: 2px solid var(--color-btn-rojo);
  cursor: pointer;
}

.container__store .grid1 .division {
  border: 1px solid #3b63ba;
  position: relative;
  top: -2px;
  width: 77.2%;
  z-index: 0;
  margin-left: 4px;
}

.container__store .grid1 .subtitle {
  margin: 26px 0 24px 0;
  font-weight: bold;
  letter-spacing: 0.6px;
}

.container__store .grid1 .text {
  font-size: 11.5px;
  letter-spacing: 0.5px;
  line-height: 22px;
}

.container__store .grid1 .boton-store {
  position: absolute;
  bottom: 60px;
  margin-top: 23px;
  border: 1px solid var(--color-texto-gris);
  width: 100px;
  height: 36px;
  border-radius: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 11px;
}

.container__store .grid1 .boton-store:hover {
  -webkit-transition: 1s;
  transition: 1s;
  border: 1px solid var(--color-btn-rojo);
}

.container__store .grid1 .boton-store a {
  text-decoration: none;
  color: var(--color-texto-blanco);
  font-weight: 700;
  letter-spacing: 0.7px;
}

.container__store .grid1 .boton-store a:hover {
  color: var(--color-btn-rojo);
}

.container__store .grid2 {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container__store .grid2 .flex-card {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 17px;
  margin-left: 20px;
  padding-left: 13px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: none;
}

.container__store .grid2 .flex-card .card-store img {
  width: 160;
  height: 220px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.container__store .grid2 .flex-card .card-store img:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  opacity: 0.7;
  border: 1.1px solid var(--color-btn-rojo);
  border-radius: 14px;
}

.container__store .grid2 .flex-icon {
  position: absolute;
  right: 40px;
  bottom: 40px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  cursor: pointer;
}

.container__store .grid2 .flex-icon img {
  width: auto;
  height: auto;
}

.container__store .grid2 .flex-icon img:active {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}
/*# sourceMappingURL=styles.css.map */

/*footer*/

.footer {
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-color: var(--color-fondo);
  border-top: 2px solid red;
}

.footer-titulo {
  text-align: center;
  color: white;
  margin-top: 2rem;
  font-weight: bold;
}

.box-footer {
  text-align: center;
}

@media (min-width: 768px) {
  .box-footer {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 7.1rem;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      border-bottom: 2px solid var(--color-texto-gris);
  }
}

.boxes-footer {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .boxes-footer {
      background-color: transparent;
      height: 20rem;
      width: 15rem;
      margin-top: 2.50rem;
  }
}


.flexer-footer {
  display: grid;
  text-align: initial;
}

.list-footer {
  color: var(--color-texto-gris);
}

.titulo-footer {
  font-weight: bold;
  color: var(--color-texto-blanco);
  font-size: 25px;
  margin-bottom: 10px;
  text-align: initial;
}

.texto-footer {
  color: var(--color-texto-gris);
  text-align: initial;
}


.enlaces-footer {
  color: var(--color-texto-gris);
  text-decoration: none;
  margin-bottom: 5px;
  align-items: initial;
}

.footer-end {
  display: flex;
  justify-content: center;
  gap: 45rem;
}

.copyright-footer {
  color: white;
}

.tarjetas-footer {
  width: 2.5rem;
  height: 2.5rem;
}