* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; //par que tome width 100%
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

:root {
    --color-fondo: #24252b;
    --color-fondo-azul: #0c3faa;
    --color-texto-blanco: #fefefe;
    --color-texto-gris: #c2c3c5;
    --color-texto-descripcion: #f2f2f2;
    --color-btn-rojo: #d71e25;
}



@import "media";